<%- include('../partial/header') %>

<body>
    <div class="container">
        <h2>Create A Treat</h2>
    
        <form action="/edibletreats" method="post">
            <div class="mx-5">
                <div class="mb-3">
                    <label for="treatName" class="form-label">Name of Treat: </label>
                    <input type="text"  class="form-control" name="treatName" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="treatType" class="form-label">Type of Treat: </label>
                    <input type="text"  class="form-control" name="treatType" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="treatPrice" class="form-label">Price of Treat: </label>
                    <input type="text" class="form-control" name="treatPrice" placeholder="">
                </div>
    
                <div class="mb-3">
                    <label for="treatDiscription" class="form-label"> A Discription of This Treat: </label>
                    <br>
                    <textarea class="form-control" name="treatDiscription" id="treatDiscription" cols="30" rows="10"></textarea>
                </div>
                <div class="d-grid mx-5 mt-3">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>