<% layout('layout/boilerpate') -%>


        <div style="display: flex; justify-content:space-between;">
            <h2>Treats Page</h2>
            <div><a href="/createtreat/new">make a treat</a></div>
        </div>

        <ul>
        
            <% for(let treat of treats){ %>
                <li style="list-style-type: none;">
                    <h3>
                        <%= treat.name %> - <a href="/edibletreat/<%= treat._id %>">select</a>
                    </h3>

                </li>
                <% }; %>
                
        </ul>

    
